.default_like, .active_like, .default_like:hover{
    width: 56px;
    height: 56px;
}
.default_like {
    background-image: url('../../assets/img/favourite_def.png');   
}
.default_like:hover {
    background-image: url('../../assets/img/favourite_hover.png');  
}
.active_like{
    background-image: url('../../assets/img/favourite_active.png');    
}