@import "../../../styles/fonts.scss";
@import "../../../styles/mixins.scss";

.bookcard_container{
    // border: 1px solid black;
    width: 100%;
    height: 454px;
    cursor: pointer;
}
.background{
    width: 100%;
    height: 264px;
    background-color: rgba(202, 239, 240, 1);
}
#book_image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#bookcard_title{
    margin-top: 20px;
    height: 64px;
    color: var(--primary-black);
}
p{
    margin: 0;
}
.author_data{
    margin-top: 8px;
}
.bookcard_footer{
    margin-top: 40px;
    @include flex-sp-between;
}
