@import "../../../styles/fonts.scss";
@import "../../../styles/mixins.scss";

.bookcard_container{
    width: 100%;
    min-height: 453px;
    cursor: pointer;
}
.background{
    width: 100%;
    height: 264px;
}
#blue{
    background-color: rgba(215, 228, 253, 1);
}
#red{
    background-color: rgba(252, 133, 127, 1);
}
#green{
    background-color:rgba(254, 233, 226, 1);
}
#orange{
    background-color:rgba(202, 239, 240, 1)
}
#purple{
    background-color: rgba(244, 238, 253, 1)
}
#book_image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.bookcard_description{
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}
#bookcard_title{
    height: 100px;
    color: var(--primary-black);
    display: flex;
    align-items: center;
}
p{
    margin: 0;
}
.author_data{
    margin-top: 8px;
    height: 50px;
    display: flex;
    align-items: center;

}
.bookcard_footer{
    margin-top: 40px;

    @include flex-sp-between;
    align-items: baseline;
}
@media (max-width: 1470px){
    .author_data{
        height: 70px;
    }
    #bookcard_title{
        height: 130px;
    }
}
@media (max-width: 960px){
    .author_data{
        height: 90px;
    }
    #bookcard_title{
        height: 150px;
    }
    #grade_img{
        width: 90px;
    }
}
@media (max-width: 900px){
    .author_data{
        height: 110px;
    }
    #bookcard_title{
        height: 160px;
    }
}
@media (max-width: 768px){
    .author_data{
        height: 50px;
    }
    #bookcard_title{
        height: 140px;
    }
}
@media (max-width: 550px){
    .author_data{
        height: 60px;
    }
    #bookcard_title{
        height: 100px;
    }
}

