@import "../../styles/mixins.scss";
.single_title{
    margin-top: 32px;
}
.book_card{
    @include flex-row;
    margin-bottom: 48px;
    position: relative;
}
.favorites_container{
    width: 100%;
    margin-top: 72px;
}
.background{
    width: 256px;
    height: 192px;
    background-color: var(--purple);
    position: relative;
}
.book_img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#dark_like_img{
    position: absolute;
    right: 0;
    top: 0;
    width: 36px;
    height: 36px;
    cursor: pointer;
    display: none;
}
.fav_books{
    max-height: 820px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 48px;
    @include flex-column;
}
.book_line{
    width: 100%;
    height: 1px;
    background-color: var(--gray);
}
.text_container{
    width: calc(446px * 100% / 1120px);
    margin-left: 32px;
    margin-top: 36px;
}
.price_grade{
    margin-top: 24px;
    @include flex-row;
    align-items: center;   
}
#grade{
    margin-left: 40%;
}
.fav_books_line{
    margin-bottom: 48px;
}
#like_img{
    position: absolute;
    top: 88px;
    right: 19px;
    cursor: pointer;
}
.pagination_container{
    margin-top: 72px;
}
.not_favorites_page{
    @include flex-center;
    flex-direction: column;
    height: 820px;
}
@media (max-width: 768px){
    .fav_books{
        max-height: 100%;
        overflow-y: hidden;
    }
    .single_title h1{
        font-size: 56px;
    }
    .background{
        width: 208px;
        height: 156px;
    }
    .text_container{
        margin-top: 16px;
        width: 360px;
    }
    #grade{
        position: absolute;
        right: 0;
    }
    #like_img{
        top: 20px;
        right: 19px;
    }
    .book_card{
        margin-bottom: 60px;
    }
}
@media (max-width: 680px){
    .popular_books{
        display: none;
    }
    #like_img{
        display: none;
    };
    #dark_like_img{
        display: block;
    }
}
@media (max-width: 400px){
    .favorites_container{
        margin-top: 56px;
    }
    .book_card{
        flex-direction: column;
        margin-bottom: 32px;
    }
    #like_img{
        display: none;
    }
    #dark_like_img{
        width: 46px;
        height: 46px;
    }
    .background{
        width: 100%;
        height: 204px;
    }
    .fav_books{
        margin-top: 36px;
        margin-bottom: 8px;
        max-height: 100%;
        overflow-y: hidden;
    }
    .single_title h1{
        font-size: 32px;
    }
    .single_title{
        margin-top: 29px;
    }
    .text_container{
        margin-top: 20px;
        margin-left: 0;
        width: 100%;
    }
    .popular_books{
        display: none;
    }
}