.new_passw_cont{
    width: 544px;
    height: 432px;
    border: 1px solid var(--gray);
    margin-left: auto;
    margin-right: auto;
    margin-top: 220px;
    margin-bottom: 229px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
}
.title{
    font-size: 24px;
}
.inputs{
    margin-top: 32px;
}
#input_item_new_passw{
    margin-top: 16px;
}
.btn_container{
    margin-top: 40px;
}

@media (max-width: 700px){
    .new_passw_cont{
        margin-top: 194px;
        margin-bottom: 193px;
        width: 100%;
        padding-left: 0;
        padding-right: 0;       
    }
    .inputs{
        margin-left: 32px;
        margin-right: 32px;
    }
    .title{
        margin-left: 32px;
    }
    .btn_container{
        margin-left: 32px;
        margin-right: 32px;
    }
}
@media (max-width: 320px){
    .new_passw_cont{
        border: none;
        margin-top: 56px;
        margin-bottom: 116px;
    }
    .inputs{
        margin-left: 0;
        margin-right: 0;
    }
    .title{
        margin-left: 0;
    }
    .btn_container{
        margin-left: 0;
        margin-right: 0;
    }
}