@import "../../styles/mixins.scss";
.btn_dark{
    background-color: var(--primary-black);
    width: 100%;
    height: 56px;
    border: none;
}
.btn_light{
    background-color: transparent;
    width: 100%;
    height: 56px;
    border: 1px solid var(--gray);
}
#btn_dark_text{
    color: var(--white-standart);
    @include flex-horizontal-center;
}
#btn_light_text{
    color: var(--primary-black);
    @include flex-horizontal-center;
}
.btn_dark:hover{
    background-color: var(--primary-2-black);
}
.btn_light:hover{
    background-color: var(--secondary-gray);
}
.btn_disabled{
    width: 448px;
    height: 56px;
    background-color: var(--primary-black);
}