@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-horizontal-center{
    display: flex;
    justify-content: center;
}
@mixin flex-vertical-center{
    display: flex;
    align-items: center;
}
@mixin flex-row{
    display: flex;
    flex-direction: row;
}
@mixin flex-column{
    display: flex;
    flex-direction: column;
}