$primary-black: rgba(49, 48, 55, 1);
$primary-2-black: rgba(91, 90, 98, 1);
$secondary-gray: rgba(168, 168, 168, 1);
$white: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, rgba(175, 178, 182, 0.4), rgba(175, 178, 182, 0.4));
$gray: rgba(231, 231, 231, 1);
$light: rgba(247, 247, 247, 1);
$red: rgba(252, 133, 127, 1);
$blue: rgba(215, 228, 253, 1);
$green:  rgba(202, 239, 240, 1);
$orange: rgba(254, 233, 226, 1);
$purple: rgba(244, 238, 253, 1);