@import "../../styles/mixins.scss";
.subscribe_container{
    background-color: rgba(244, 238, 253, 1);
    width: 100%;
    height: 288px;
    margin-top: 72px;
    margin-bottom: 72px;
}
.subscribe_content_container{
    padding-left: calc(64px * 100% / 1120px);
    padding-top: calc(56px * 100% / 1120px);
}
#subscr_text{
    font-family: var(--din-pro);
    height: 28px;
}
.title_container{
    @include flex-column;
    align-items: flex-start;
}
#title{
    height: auto;
}
.input_container{
    width: calc(992px * 100% / 1056px);
    height: 56px;
    @include flex-row;
    margin-top: 32px;
    box-sizing: border-box;
}
.input_item{
    width: 100%;
    height: 56px;
}
.subscribe_input{
    width: calc(845px * 100% / 992px);
    height: 100%;
    box-sizing: border-box;
}
.subscribe_button{
    width: calc(174px * 100% / 992px);
    height: 100%;
    background-color: var(--primary-black);
    border: none;
}
#button_text{
    font-family: var(--font-bebas);
    color: var(--white-standart);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: left;
    text-transform: uppercase;
    @include flex-center;
}
@media (max-width: 960px){
    #button_text{
        font-size: 13px;
    }
}
@media (max-width: 768px){
    .subscribe_input{
        width: calc(441px * 100% / 608px)
    }  
    .subscribe_button{
        width: calc(167px * 100% / 608px);
    }
    .text_container{
        width: 77.778%;
        height: 116px;
    }
    .input_item{
        width: 441px;
    }
    #button_text{
        font-size: 18px;
    }
}
@media (max-width: 640px){
    .input_container{
        margin-top: 60px;
    }
}
@media (max-width: 500px){
    .subscribe_container{
        width: 100%;
        height: 350px;       
    }
    .input_container{
        margin-top: 120px;
    }
    #title{
        font-size: 30px;    
    }
    #button_text{
        font-size: 14px;
    }
}
@media (max-width: 320px){
    .subscribe_content_container{
        padding-left: calc(24px * 100% / 272px);
        padding-top: calc(24px * 100% / 272px);
    }
    .subscribe_container{
        height: 400px;
    }
    .text_container{
        height: 152px;
    }
    #title{
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
    }
    .title_container{
        height: 80px;
    }
    .input_container{
        @include flex-column;
        width: calc(224px * 100% / 248px);
        height: 136px;
        margin-top: 60px;
    }
    .subscribe_input{
        width: 260px;
    }
    .subscribe_button{
        margin-top: 24px;
        width: 100%;
    }
    .input_item{
        width: 100%;
    }
}