@import "../../../styles/mixins.scss";

.cart_container{
    margin-top: 72px;
}
.single_title{
    margin-top: 32px;
}
.book_card{
    @include flex-row;
    align-items: center;
    margin-bottom: 48px;
    position: relative;
}
.favorites_container{
    margin-top: 72px;
}
.background{
    width: 256px;
    height: 192px;
    background-color: var(--purple);
}
.book_img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.book_line{
    width: 100%;
    height: 1px;
    background-color: var(--gray);
}
.text_container{
    width: calc(446px * 100% / 1120px);
    margin-left: 32px;
    margin-top: 36px;
}
.price_grade{
    margin-left: 10%;
    @include flex-row;
    align-items: center;   
}
#grade{
    margin-left: 40%;
}
.fav_books_line{
    margin-bottom: 48px;
}
#cross_img{
    margin-left: 129px;
}
.button_container{
    border: none; 
    outline: none;
    padding: 0;
    margin: 0;
}
.quantity_container{
    margin-top: 24px;
    height: 56px;
    @include flex-row;
}
.count_input{
    @include flex-center;
    text-align: center;
    width: 56px;
    height: 56px;
    padding: 0;
    color: var(--primary-black);
    border: none;
    font-family: var(--font-bebas);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}
.count_container{
    width: 56px;
    height: 56px;
    @include flex-center;
}
#dark_cross{
    display: none;
}
@media (max-width: 1160px){
    #cross_img{
        margin-left: 50px;
    }
}
@media (max-width: 768px){
    #cross_img{
        position: absolute;
        top: 16px;
        right: 16px;
    }
    .price_grade{
        position: absolute;
        bottom: 15px;
        right: 35px;
    }
}
@media (max-width: 768px){   
    #cross_img{
        position: absolute;
        top: 16px;
        right: 16px;
    }
    .price_grade{
        position: absolute;
        bottom: 15px;
        right: 35px;
    }
}
@media (max-width: 640px){
    #cross_img{
        display: none;
    }
    .book_card{
        flex-direction: column;
    }
    .background, .text_container{
        width: 100%;
    }
    #dark_cross{
        display: block;
        position: absolute;
        top:0;
        right: 0;
    }
    .text_container{
        margin-left: 0;
    }
    
}
@media (max-width: 320px){
    .price_grade{
        right: 0px;
        bottom: 14px
    }
}
