@import "../../styles/mixins.scss";
.cart_container{
    margin-top: 72px;
    width: 100%;
    height: auto;
}
.single_title{
    margin-top: 32px;
}
.book_card{
    @include flex-row;
    margin-bottom: 48px;
    position: relative;
}
.favorites_container{
    margin-top: 72px;
}
.background{
    width: 256px;
    height: 192px;
    background-color: var(--purple);
}
.book_img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.fav_books{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    max-height: 820px;
    overflow: auto;
}
.book_line{
    width: 100%;
    height: 1px;
    background-color: var(--gray);
}
.text_container{
    width: calc(446px * 100% / 1120px);
    margin-left: 32px;
    margin-top: 36px;
}
.price_grade{
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;   
    margin-top: 66px;
}
#grade{
    margin-left: 40%;
}
.fav_books_line{
    margin-bottom: 48px;
}
#cross_img{
    position: absolute;
    top: 70px;
    right: 0;
    cursor: pointer;
}
.button_container{
    border: none; 
    outline: none;
    padding: 0;
    margin: 0;
}
.quantity_container{
    margin-top: 24px;
    width: 56px;
    height: 56px;
    @include flex-row;
}
.count_input{
    @include flex-center;
    text-align: center;
    width: 56px;
    height: 56px;
    padding: 0;
    color: var(--primary-black);
    border: none;
    font-family: var(--font-bebas);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}
.cart_footer{
    margin-bottom: 48px;
    margin-top: 48px;
    display: flex;
    justify-content: flex-end;
}
.not_active_cart{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#cart_img{
    width: 100px;
    height: 100px;
}

::-webkit-scrollbar {
    width: 3px; /* ширина скроллбара */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* цвет фона трека */
}

::-webkit-scrollbar-thumb {
    background: #888; /* цвет ползунка */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* цвет ползунка при наведении */
}
.not_active_cart h1{
    text-align: center;
}
@media (max-width: 768px){
    .fav_books{
        max-height: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .cart_container{
        margin-top: 56px;
    }
}
@media (max-width: 330px){
    .not_active_cart h1{
        font-size: 28px;
    }
}
