@import "../../styles/mixins.scss";
.content_container{
    margin-bottom: 72px;
}
.single_title{
    width: calc(1044px * 100% / 1120px);
    height: 128px;
    @include flex-vertical-center;
}
.img_container{
    margin-top: 72px;
    cursor: pointer;
}
.img_background{
    width:  calc(544px * 100% / 1120px);
    height:  472px;
    background-color: var(--purple);
    @include flex-center;
    position: relative;
}
.like_component{
    position: absolute;
    top: 0;
    right: 0;
}
.book_desription{
    width: 100%;
    margin-top: 48px;
    @include flex-row;
    justify-content: space-between;
}
.book_information{
    width:  calc(448px * 100% / 1120px);
    height: 472px;
    border-top: 1px solid var( --gray);
}
.grade{
    @include flex-row;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;    
}
.main_menu, .additionally_menu{
    margin: 0;
    padding: 0;
    margin-top: 24px
}
.main_menu li, .additionally_menu li{
    @include flex-row;
    justify-content: space-between;
}
#descr{
    color: var(--primary-black);
    text-align: right;
}
.menu{
    position: relative;
    cursor: pointer;
    padding: 0;
}
#menu::after{
    content: "";
    background-image: url("../../utils/img/arr_down.jpg");
    display: block; 
    width: 16px; 
    height: 16px; 
    position: absolute;
    top: 6px;
    left: 104px;
    color: var(--primary-black);
}
.book_description{
    margin-top: 48px;
    margin-bottom: 48px;
}
#single_desc{
    font-family: var(--helios-light);
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}
.icons_container{
    width: 120px;
    height: 24px;
    @include flex-row;
    justify-content: space-between;
    margin-bottom: 72px;
}