@import "../../styles/mixins.scss";
.header{
    width: calc(1120px * 100% / 1920px);
    height: 104px;
    @include flex-vertical-center;
}
.header_icons_container{
    width: 184px;
    height: 56px;
    @include flex-sp-between;
}
.header_icons_container img{
    width: 56px;
    height: 56px;   
}
