@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
.header{
    width: calc(1120px * 100vw / 1920px);
    height: 104px;
    @include flex-vertical-center;
    align-items: center;
    position: relative;
}
.input_container{
    width: calc(542px * 100% / 1120px);
    margin-left: calc(152px * 100% / 1120px);
    position: relative;
}
input{
  height: 56px;
  border: 1px solid $gray;
//   padding-left: 20px;
  font-size: 15px;
  color: $secondary-gray;
  background-color: white;  
  outline:none; 
  width: 100%; 
  margin: 0;
  padding: 0; 
}

.search_icon{
  width: 24px;
  height: 24px;
  position: absolute;
  top: 16px;
  right: 16px
}
.header_icons_container{
    width: 184px;
    height: 56px;
    @include flex-sp-between;
    position: absolute;
    right: 0px;
}
.header_icons_container img{
    width: 56px;
    height: 56px;   
}
