.books_container{
    margin-top: 72px;

}
.title_text{
    font-family: var(--font-bebas);
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}