@import "../../styles/mixins.scss";
.account_container{
    width: 100%;
    margin-top: 72px;
}
#input_item{
    width: calc(544px * 100% / 1120px);
    box-sizing: border-box;
}
.profile_title{
    margin-top: 48px;
}
.profile_container, .new_password{
    margin-top: 16px;
    @include flex-row;
    justify-content: space-between;
}
.password_title{
    margin-top: 46px;
    margin-bottom: 16px;
}
.line_account{
    margin-top: 72px;
    width: 100%;
    height: 1px;
    background-color: var(--gray);
}
.buttont_container{
    width: 544px;
    margin-top: 48px;
    margin-bottom: 72px;
    @include flex-row;
    justify-content: space-between;
    margin-left: auto;
}
.save_btn, .cancel_btn{
    width: 255px;
}
@media (max-width: 768px){
    .profile_container{
        flex-direction: column;
    }
    #input_item{
        width: 100%;
    }
    .new_password{
        flex-direction: column;
    }
    .email_inp{
        margin-top: 16px;
    }
    .confirm_passw_inp{
        margin-top: 16px;
    }
    .buttont_container{
        width: 100%;
    }
    .save_btn, .cancel_btn{
        width: 328px;
    }
}
@media (max-width: 400px){
    .buttont_container{
        flex-direction: column;
    }
    .save_btn, .cancel_btn{
        width: 100%;
    }
    .cancel_btn{
        margin-top: 24px;
    }
}