@import '../../styles/mixins.scss';

h1{
    margin: 0;
    padding: 0;
}
.reset_passw_cont{
    @include flex-center;
    margin-top: 274px;
    margin-bottom: 283px;
    width: 544px;
    height: 324px;
    border: 1px solid var(--gray); 
    margin-left: auto;
    margin-right: auto;   
}
.content_container{
    width: 480px;
}
#input_item{
    margin-top: 32px;
}
.title{
    margin-top: 40px;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: left;
}
.btn_container{
    margin-top: 40px;
}
@media (max-width: 765px){
    .reset_passw_cont{
        margin-top: 241px;
        margin-bottom: 254px;
    }
}
@media (max-width: 600px){
    .reset_passw_cont{
        width: 100%;
    }
    .content_container{
        width: 100%;
    }
    #input_item{
        margin-left: 32px;
        margin-right: 32px;
    }
    .title{
        margin-left: 32px;
    }    
}
@media (max-width: 320px){
    .reset_passw_cont{
        border: none;
    }
    #input_item{
        margin-left: 0;
        margin-right: 0;
    }
    .title{
        margin-left: 0;
    }
    .reset_passw_cont{
        margin-top: 56px;
        margin-bottom: 224px;
    }
}