@import "../../styles/mixins.scss";
.tabs{
  width: 563px;
  height: 48px;
  margin: 0px;
}
.tabs_menu{
  @include flex-row;
  justify-content: space-between;
  list-style-type: none;   
  margin:0;
  padding: 0;
}
.active_tab{
  border-bottom: 2px solid var(--primary-black);
}
.not_active_tab{
  color: var(--secondary-gray);
}
.not_active_tab:hover{
  color: var(--primary-black);
}
#menu_item{
  width: 161px;
  height: 48px;
  @include flex-horizontal-center; 
  font-family: var(--helios-light);
  cursor: pointer;
}
@media (max-width: 768px){
  .tabs{
    width: 518px;
  }
}
@media (max-width: 530px){
  .tabs{
    width: 100%;
  }
}